@model ProyectoWeb2.Models.Contactos

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout2";
}

<h2>Details</h2>

<div>
    <h4>Contactos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Correo_electrónico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Correo_electrónico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Número_telefónico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Número_telefónico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Puesto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Puesto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente.id)
        </dd>
    </dl>
</div>
<div>
    <a class="btn-floating btn-large waves-effect waves-light blue" asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a class="btn-floating btn-large waves-effect waves-light green" asp-action="Index">Back to List</a>
</div>
