@model IEnumerable<ProyectoWeb2.Models.Support_Tickets>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout2";
}

<h2>Index</h2>

<p>
    <a class="waves-effect waves-light btn" asp-action="Create">Create New</a>
</p>
<table cclass="responsive-table"style="color:white">
    <thead>
        <tr  style="width: auto;text-align: left;vertical-align: top; border: 1px solid #000; border-spacing: 0;">
            <th style="width: auto;text-align: left;vertical-align: top; border: 1px solid #000; border-spacing: 0;">
                @Html.DisplayNameFor(model => model.Título_Problema)
            </th>
            <th style="width: auto;text-align: left;vertical-align: top; border: 1px solid #000; border-spacing: 0;">
                @Html.DisplayNameFor(model => model.Detalle_del_problema)
            </th>
            <th style="width: auto;text-align: left;vertical-align: top; border: 1px solid #000; border-spacing: 0;">
                @Html.DisplayNameFor(model => model.Quién_reporta_el_problema)
            </th>
            <th style="width: auto;text-align: left;vertical-align: top; border: 1px solid #000; border-spacing: 0;">
                @Html.DisplayNameFor(model => model.Estado_actual)
            </th>
            <th style="width: auto;text-align: left;vertical-align: top; border: 1px solid #000; border-spacing: 0;">
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
          <th style="width: auto;text-align: left;vertical-align: top; border: 1px solid #000; border-spacing: 0;">Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td  style="width:  auto;text-align: left;vertical-align: top; border: 1px solid #000; border-spacing: 0;">
                    @Html.DisplayFor(modelItem => item.Título_Problema)
                </td>
                <td  style="width:  auto;text-align: left;vertical-align: top; border: 1px solid #000; border-spacing: 0;">
                    @Html.DisplayFor(modelItem => item.Detalle_del_problema)
                </td>
                <td  style="width:  auto;text-align: left;vertical-align: top; border: 1px solid #000; border-spacing: 0;">
                    @Html.DisplayFor(modelItem => item.Quién_reporta_el_problema)
                </td>
                <td  style="width:  auto;text-align: left;vertical-align: top; border: 1px solid #000; border-spacing: 0;">
                    @Html.DisplayFor(modelItem => item.Estado_actual)
                </td>
                <td  style="width:  auto;text-align: left;vertical-align: top; border: 1px solid #000; border-spacing: 0;">
                    @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                </td>
                <td style="width:  auto;text-align: left;vertical-align: top; border: 1px solid #000; border-spacing: 0;">
                    <a asp-action="Edit" asp-route-id="@item.id" class="Small material-icons">create</a>
                    <a asp-action="Delete" asp-route-id="@item.id" class="Small material-icons">delete_forever</a>
                    <a asp-action="Details" asp-route-id="@item.id" class="Small material-icons">description</a>
                </td>
            </tr>
        }
    </tbody>
</table>

